<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Panda_Seller>
            <version>0.1.0</version>
        </Panda_Seller>
    </modules>
    <frontend>
        <routers>
            <seller>
                <use>standard</use>
                <args>
                    <module>Panda_Seller</module>
                    <frontName>seller</frontName>
                </args>
            </seller>
        </routers>
    </frontend>
    <admin>
        <routers>
            <seller>
                <use>admin</use>
                <args>
                    <module>Panda_Seller</module>
                    <frontName>seller</frontName>
                </args>
            </seller>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <seller>
                    <file>panda/seller.xml</file>
                </seller>
            </updates>
        </layout>
    </adminhtml>
    <global>
         
        <blocks>
            <seller>
                <class>Panda_Seller_Block</class>
            </seller>
        </blocks>
        <helpers>
            <seller>
                <class>Panda_Seller_Helper</class>
            </seller>
        </helpers>
        <models>
            <seller>
                <class>Panda_Seller_Model</class>
                <resourceModel>seller_resource</resourceModel>
            </seller>
            <seller_resource>
                <class>Panda_Seller_Model_Resource</class>
                <entities>
                    <sellerdetails>
                         <table>panda_seller</table>
                    </sellerdetails>
                    
                </entities>
            </seller_resource>
        </models>
        <resources>
            <seller_setup>
                <setup>
                    <module>Panda_Seller</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seller_setup>
            <seller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seller_write>
            <seller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seller_read>
        </resources>
    </global>
 
</config>